name : Ci pipeline

on:
  push:
    paths:
      - python-web-app-e2e-deployment/**
    branches:
      - main
  pull_request:
    paths:
      - python-web-app-e2e-deployment/**
    branches:
      - main

jobs:
    matrix-pip:
        runs-on: ubuntu-latest
        strategy:
          matrix:
            python-version: [3.11,3.12]

        steps:
        - name: Checkout code
          uses: actions/checkout@v2

        - name: Set up Python
          uses: actions/setup-python@v2
          with: 
            python-version: ${{ matrix.python-version }}

        - name: Upgrade pip
          run: python -m pip install --upgrade pip 

        - name: Install project dependencies
          run: python -m pip install -r requirements.txt

        - name: build project
          run: |
            python main.py build --output-dir artifacts
            ls -la artifacts
      
        - name: Upload artifacts
          uses: actions/upload-artifact@v4
          with:
            name: build-${{ matrix.python-version }}-${{ github.run_id }}
            path: artifacts
            